.DS_Store
# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip

.ipynb_checkpoints/
first-neural-network/.floydexpt
first-neural-network/.floydignore
image-classification/.ipynb_checkpoints/dlnd_image_classification-checkpoint.ipynb
image-classification/__pycache__/helper.cpython-35.pyc
image-classification/__pycache__/problem_unittests.cpython-35.pyc
image-classification/checkpoint
image-classification/cifar-10-batches-py/batches.meta
image-classification/cifar-10-batches-py/data_batch_1
image-classification/cifar-10-batches-py/data_batch_2
image-classification/cifar-10-batches-py/data_batch_3
image-classification/cifar-10-batches-py/data_batch_4
image-classification/cifar-10-batches-py/data_batch_5
image-classification/cifar-10-batches-py/readme.html
image-classification/cifar-10-batches-py/test_batch
image-classification/cifar-10-python.tar.gz
image-classification/image_classification.data-00000-of-00001
image-classification/image_classification.index
image-classification/image_classification.meta
image-classification/preprocess_batch_1.p
image-classification/preprocess_batch_2.p
image-classification/preprocess_batch_3.p
image-classification/preprocess_batch_4.p
image-classification/preprocess_batch_5.p
image-classification/preprocess_training.p
image-classification/preprocess_validation.p
tensorboard/__pycache__/helper.cpython-35.pyc
tensorboard/__pycache__/problem_unittests.cpython-35.pyc
tensorboard/cifar-10-batches-py/batches.meta
tensorboard/cifar-10-batches-py/data_batch_1
tensorboard/cifar-10-batches-py/data_batch_2
tensorboard/cifar-10-batches-py/data_batch_3
tensorboard/cifar-10-batches-py/data_batch_4
tensorboard/cifar-10-batches-py/data_batch_5
tensorboard/cifar-10-batches-py/test_batch
tensorboard/preprocess_batch_1.p
tensorboard/cifar-10-python.tar.gz
tensorboard/preprocess_batch_2.p
tensorboard/preprocess_batch_3.p
tensorboard/preprocess_batch_4.p
tensorboard/helper.py
tensorboard/preprocess_batch_5.p
tensorboard/logs/graph/events.out.tfevents.1495727896.ip-172-31-38-87
tensorboard/preprocess_test.p
tensorboard/problem_unittests.py
tensorboard/preprocess_validation.p
tensorboard/cifar-10-batches-py/readme.html
tv-script-generation/__pycache__/helper.cpython-35.pyc
tv-script-generation/__pycache__/problem_unittests.cpython-35.pyc
tv-script-generation/checkpoint
tv-script-generation/params.p
tv-script-generation/preprocess.p
tv-script-generation/save.data-00000-of-00001
tv-script-generation/save.index
tv-script-generation/save.meta
seq2seq/__pycache__/helper.cpython-35.pyc
image-classification/preprocess_test.p
transfer-learning/labels
transfer-learning/codes
language-translation/__pycache__/
language-translation/preprocess.p
language-translation/params.p
reinforcement/checkpoints/cartpole.ckpt.data-00000-of-00001
reinforcement/checkpoints/checkpoint
reinforcement/checkpoints/cartpole.ckpt.meta
reinforcement/checkpoints/cartpole.ckpt.index
